.categories{
  width:100%;
  height:auto;
  background: white;
  padding: 10px;
  .header{
    height:40px;
    font-size:20px;
  }

  .products{
    .product{
      border: 1px solid #ddd;
      height: 170px;
      width: 150px;
      cursor: pointer;
    }

    .product:hover{
      box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 5px;
      transform: translate3d(0px, -1px, 0px);
    }
  }
}