.qr-result{
  height: 500px;
  .description{
    font-size:30px;
    color: rgb(10, 170, 10);
    text-align: center;
    line-height: 1;
  }

  .description-error{
    color: rgb(255, 51, 0);
    font-size: 30px;
    text-align: center;
    line-height: 1;
  }

  .description-invalid{
    font-size:30px;
    text-align: center;
    line-height: 1;
  }
}