.serving{
  background:rgb(248, 60, 201);
}

.done{
  background: rgb(12, 150, 81);;
}

.payment{
  background: rgb(17, 164, 233);
}

.title{
  font-style:bold; 
  font-size:25px; 
  padding:5px; 
  margin-bottom: 10px; 
  color: white
}