<div class="w-100" fxLayout="column" fxLayoutGap="20px">
  <span style="font-size:20px">Add Product</span>

  <div class="w-100" [formGroup]="formGroup">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Category</mat-label>
        <mat-select matInput formControlName="category">
          <mat-option *ngFor="let cat of categories$ | async" [value]="cat.id">{{cat.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Current Price</mat-label>
        <input matInput formControlName="price">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Image</mat-label>
        <input matInput>
        <button mat-button matSuffix>
          <mat-icon>photo_camera</mat-icon>
        </button>
      </mat-form-field>
  </div>
  <div class="w-100" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
    <button mat-raised-button color="accent" [disabled]="formGroup.invalid"
      (click)="closeDialog(true,formGroup.value)">SAVE</button>
    <button mat-button (click)="closeDialog(false,{})">Close</button>
  </div>
</div>