<div class="w-100" fxLayout="column" fxLayoutGap="15px">
    <app-hot-today class="w-100"></app-hot-today>
    <app-display-categories class="w-100"></app-display-categories>
    <div class="w-100" fxLayout="row" fxLayout.xs="column" style="height: 320px; padding: 10px" fxLayoutGap="10px">
        <div fxFlex="25" style="background:#cccccc; height: 300px !important">Ads / Announcements</div>
        <div class="row-two" fxFlex="25" fxLayout="row" fxLayoutAlign="center center" >
            <span class="text">VIEW YOUR FAVORITES</span>
        </div>
        <!-- <app-my-favorites fxFlex="25"></app-my-favorites> -->
        <div  class="row-two" fxLayout="row" fxLayoutAlign="center center" fxFlex="25">
            <span class="text">CHECKOUT YOUR FRIEND'S FAVORITES</span>
        </div>
        <div class="row-two" fxLayout="row" fxLayoutAlign="center center" fxFlex="25">
            <span class="text">TREAT SOMEBODY TODAY</span>
        </div>
    </div>
</div>


