
<div  class="header" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="15px">
      <span fxLayout="row" fxLayoutAlign="center center" class="upper-link">
          <mat-icon style="font-size:20px">notifications</mat-icon>
          NOTIFICATIONS
      </span>
      <span class="upper-link" *ngIf="!(logged$ | async)">SIGN UP</span>
      <span class="upper-link" (click)="login()" *ngIf="!(logged$ | async)">LOG IN</span>
      <span class="upper-link" *ngIf="(logged$ | async)">{{currentUser.first_name}} {{currentUser.last_name}}</span>
  </div>
  <div class="w-100" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxFlex="20%">Logo</div>
      <div fxFlex="70%">
          <mat-form-field appearance="outline" class="w-100">
              <input matInput placeholder="Search Canteen">
              <button mat-button matSuffix>
                  <mat-icon>search</mat-icon>
              </button>
          </mat-form-field>
      </div>
     <button mat-fab color="accent" (click)="viewCart()" class="posiiton-relative">
      <mat-icon class="icon-cart">shopping_cart</mat-icon>
      <div *ngIf="!emptyCart(cart$ | async)" class="cart-notif"
        fxLayout="row" fxLayoutAlign="center center">
        <span>{{(cart$ | async)?.length}}</span>
      </div>
     </button>
  </div>
 
</div>
