/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-100{
    width:100%
}

.w-95{
    width:95%
}

.w-80{
    width:80%
}

.w-70{
    width:70%
}

.w-60{
    width:60%
}

.w-30{
    width:30%;
}

.positive-relative{
    position: relative;
}

.font-weight-bold{
    font-weight: bold;
}

.body-height{
    min-height: 500px;
}